<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>This is our customer list:</h1>
    {% if customers %}
        <ol>
            {% for person in customers %}
            <li>
                Customer Info
                <ul>
                    <li>First name: {{ person.first_name }}</li>
                    <li>Last name: {{ person.last_name }}</li>
                    <li>First name: {{ person.email }}</li>
                </ul>
            </li>
            {% endfor %}
        </ol>
    {% endif %}
</body>
</html>